form(method='get', action='/search')
    div(id='search-form-group', class='col-md-6.col-md-offset-3')
      form-group(class='col-md-4 col-md-offset-3')
        input(class='form-control', id='movieSearchInput', name='movieSearchInput', placeholder='Search movie titel', value='#{movieSearchInput}')
      button(class='btn btn-default col-md-1', type='submit') Search