body {
  margin-top: 50px;
  font-family: Verdana, Arial, sans-serif;
}
.navbar-logo {
  max-height: 50px;
}
#search-form-group {
  margin-top: 20px;
}
.movieSearchItem {
  margin-top: 10px;
}
.movieSearchItemText {
  padding: 50px;
}
#title {
  padding-top: 85px;
}
#title_title {
  font-size: 20px;
}
#title_tagline {
  padding-bottom: 12px;
  font-size: 15px;
}
#title_overview {
  padding-bottom: 10px;
  font-size: 12px;
}
#title_release_date {
  font-size: 12px;
}
#title_runtime {
  font-size: 12px;
  padding-bottom: 5px;
}
#title_vote_average {
  font-size: 12px;
}
.youtubeVideoItem {
  padding-bottom: 30px;
}
.youttubeVideoItemText {
  font-size: 12px;
}
#iframediv {
  padding-top: 30px;
}
.youtubeVideoIframe {
  width: 700px;
  height: 450px;
}
#person_title {
  font-size: 20px;
  padding-bottom: 10px;
}
